.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px 0;
    font-size: 16px;
}

.custom-radio span {
    width: 20px;
    height: 20px;
    border: 2px solid #0f0147;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

input[type="radio"]:checked+span {
    background: #02278d;
    border-color: #02a3a3;
}

input[type="radio"]:checked+span::after {
    content: "";
    width: 8px;
    height: 8px;
    background: rgb(147, 236, 239);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}
